body{
    font-family: "MarkPro-Medium";
    padding:0;
    margin:0;
    overflow-x: hidden;
}
.red{
    background-color: #BB3A5B !important;
    color:white !important;
}
.dark-blue{
    background-color: #002254 !important;
    color:rgba(255,255,255,1) !important;
}
.peru{
    background-color: #b8992f !important;
    color:rgba(255,255,255,1) !important;
}
.khaki{
    background-color: var(--khaki-color) !important;
    color:rgba(255,255,255,1) !important;
}
.darkslateblue{
    background-color: var(--darkslateblue-color) !important;
    color:rgba(255,255,255,1) !important;
}

.alabaster{
    background-color: rgb(245, 241, 230) !important;
}

.yellow{
    background-color: var(--yellow-color) !important;
    color: #fff !important;
}

.gray{
    background-color: var(--gray-color) !important;
    color: #fff !important;
}
.darky{
    background-color: var(--darky-color) !important;
    color: white !important;
}
.ebony{
    background-color: var(--ebony-color) !important;
    color: white !important;
}
.blue{
    background-color: var(--blue-color) !important;
    color:white !important;
}
.text-yellow{
    color: var(--yellow-color) !important;
}
.text-ebony{
    color: var(--ebony-color) !important;
}
.text-white{
    color:white !important;
}
.banner{    
    height: 40px;
}
.main{
    padding-top:150px ;
}
.pointable:hover{
    cursor: pointer;
}
.overriden{
    font-family: "MarkPro-Medium" !important;
}
input.p-inputtext-sm.overriden{
    font-family: "MarkPro-Medium";
    font-size: 0.75em;
    color:white;
    outline-color: none;
}
input.p-inputtext-sm.overriden:hover{
    border-color: transparent;
    outline-color: none;
}
input.p-inputtext-sm.overriden::-webkit-input-placeholder {
    color: white; /*Change the placeholder color*/
    opacity: 1; /*Change the opacity between 0 and 1*/
}

a{
    text-decoration: none;
    color: inherit;
}
.menu{

}
.submenu{
    display: none;
    position: absolute;
}
.submenu-list{
    list-style-type: none;
    padding:0;
}
.submenu-item:hover{
    color:var(--yellow-color);
}
.menu-item:hover{
    color:var(--yellow-color);
}
.menu-item:hover .submenu{
    display: block;
}

.carousel {
    
}
.carousel > .p-carousel img{
    max-height:400px;
}


::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
@font-face {
    font-family: "MarkPro-Black";
    src: url("../fonts/MarkPro-Black.otf");
}
@font-face {
    font-family: "MarkPro-Medium";
    src: url("../fonts/MarkPro-Medium.ttf");
}


:root{
    --yellow-color: #FFC547;
    --darkslateblue-color:#2f4f4f;
    --khaki-color:#f0e68c;
    --khaki-light-color:#f0e68c4f;
    --blue-color:#003B75;
    --darky-color: rgb(64, 56, 26);
    --ebony-color: rgb(92, 94, 67);
    --gray-color:#69675B;
    --red-color:#BB3A5B;
    --dark-blue-color:#002254;
}